{% extends "layout.njk" %}

{% block body %}
  <section>
        <div class="container">
          {{ contents | safe }}
        </div>
  </section>
  <div class="container">
    {{ contents | safe }}
  </div>
{% endblock %}